<div class="row">
  <div class="col-sm-3">
    <h2>Groups</h2>
    <div class="list-group">
      <a class="list-group-item list-group-item-action bg-success text-center"
         href="" [ngClass]="{'active': selectedGroup !== null && selectedGroup.id === null}"
         (click)="onNew(); false"
      >
          <i class="fas fa-plus-circle fa-2x text-white"></i>
      </a>
      <a class="list-group-item list-group-item-action"
         href="" *ngFor="let group of groups"
         [ngClass]="{'active': selectedGroup !== null && selectedGroup.id === group.id}"
         (click)="openGroup(group); false"
      >
        {{group.label}}
      </a>
    </div>
  </div>
  <app-group (event)="refreshEvent()" [selectedGroup]="selectedGroup" class="col-sm-9" *ngIf="selectedGroup !== null"></app-group>
</div>